@inherits UmbracoViewPage<BlockGridItem<HeroBlock, BlockSettings>>
@{
    var backgroundColor = Model.Content.BackgroundColor;
    var image = Model.Content.Image;
    var hasBrightContrast = Model.Content.Contrast == "#ffffff";
}

<pre>Dropdown: @Model.Content.Height</pre>
<pre>Content Picker: @Model.Content.ContentPicker?.Name (@Model.Content.ContentPicker?.Url())</pre>
<pre>MNTP: @Model.Content.Mntp?.Name() (@Model.Content.Mntp?.Id)</pre>
@* <pre>MNTP: @(string.Join(", ", Model.Content.Mntp.Select(x => x.Name))) (@(string.Join(", ", Model.Content.Mntp.Select(x => x.Id))))</pre> *@
<pre>Settings Dropdown: @Model.Settings?.Dropdown</pre>

<div 
    class="hero"
    style="background-color:@backgroundColor"
@(hasBrightContrast ? "bright-contrast" : null)>

    @if (image is not null) {
        <div class="hero-background" style="background-image: url(@image.GetCropUrl(width:3840))">
        </div>
    }

    
    <div class="hero-content">
        <h1>@Model.Content.Headline</h1>
        @* Only render if there is some content... *@
        @if (Model.Areas.Any(a => a.Any())) {
            @await Html.GetPreviewBlockGridItemAreasHtmlAsync(Model)
        }
    </div>
</div>
    